<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$login</title>
    <style>body {background-color: DimGray;}</style>
    <!-- <link rel="stylesheet" href=".css"> -->
  </head>

  <body>
    <a href="/login/federated/google">Sign in with Google</a>
  </body>

</html>

